@import "variables";
@import "support";
@import "components";

body {
  // background-image: url("/images/bg_icons_trans.png"), linear-gradient(to top, rgba(28,23,74,1), rgba(65,65,134,1));
  background-image: url("/images/bg_header.png"), linear-gradient(to top, #1C174A, #383B77);
  // background-image: url("/images/bg_icons_trans.png"), linear-gradient(to top, color-stop(0%, rgba(65,65,134,0.5)), color-stop(100%, rgba(28,23,74,1)));
  background-position: center bottom;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  // background: #62629A;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #62629A, #414186);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #62629A, #414186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  // max-width: 1200px;
  // margin: 0 auto;
}

.valign {
  box-sizing: border-box;
  color: white;

  @media screen and (min-width: 600px) {
    margin: 50vh auto 0;
    transform: translateY(-50%);
    -webkit-animation-duration: 3s;
  }
}

.cryptotoday {
  text-align: center;
  margin-top: 2em;

  img {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  p { 
    padding-bottom: 0; 
  }

  a {
    color: $white;
    text-decoration: none;
    &:hover .learnmore {
      // color: $white;
      opacity: 1;
    }
  }

  .learnmore {
    margin-top: -5px;
    color: #fff;
    opacity: 0.5;
    font-weight: 300;
    display: block;
    transition: color ease-in 0.5s;
  }
}

.links {
    // position: absolute;
    bottom: 20px;
    z-index: 10000;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 25px;

    @media screen and (min-width: 600px) {
      position: absolute;
      padding-bottom: 0;
    }

    .backlink {
    margin-top: -5px;
    display: block;
    font-size: 12px;
    color: #6d6b8a;
    text-decoration: none;

      a {
      font-size: 12px;
      color: #6d6b8a;
      text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }

    .link_list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .link_item {
      display: inline-block;
      margin-right: 20px;

      a {
        font-size: 14px;
        color: #C2C2D0;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
}

header {
  height: 10vh;
  width: 100%;
  top: 0;

  @media screen and (min-width: 600px) {
    position: absolute;
  }
  
  .wrapper-large {
    padding-top: 0;
    padding-bottom: 0;
  }

  .inner-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a:link,
  a:visited {
    color: #3c3c3c;
    text-decoration: none;
    font-weight: 600;

    &:hover,
    &:focus {
      color: #777;
    }
  }

  .logo {
     margin: 0 auto;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: 2;
  }
  
  a {
    text-decoration:none;
    color: $white;
    display: block;
  }

  .logo a h5.finish-sentence span {
    position: relative;
    content: 'A Crypto a day';
    color: $white;
    &:after {
      transition: content ease-in 2s;
    }
  }

  // .logo:hover a h5.finish-sentence span{
  //   display: none;
  // }

  // .logo:hover a h5.finish-sentence:after{
  //   content: '... Where\'s my f-ing lambo?!';
  //   color: $white;
  // }
}

.email-octopus-form {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 15s;
// -webkit-animation-iteration-count: infinite;
}

.signup {
  text-align: center;

  .back a {
    opacity: 0.3;
    color: $white;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 1.4;
    padding: 0;
    font-weight: 500;
  }

  form {
    padding: 1rem 0;
  }

  p {
    padding-bottom: 1rem;
    font-size: 14px;
  }

  span.disclaimer a {
    color: #ffffff;
    opacity: 0.4;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    transition: color ease-in 0.5s;
    &:hover {
      color: $white;
      opacity: 1;
    }
  }

  input:not([type='submit']),
  textarea {
    border: 1px solid #f0f0f0;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: block;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    font-size: 1.2rem;
  }

  button[type='submit'] {
    display: inline-block;
    // margin: 2rem auto 0;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.2rem;
    // margin: 0;
    background-color: #7dc855;
    border-radius: 5px;

    @media screen and (max-width: 599px) {
      width: 100%;
      margin-top: 5px;
    }

    @media screen and (min-width: 600px) {
      margin-left: 10px;
    }

    &.loading {
      background-image: url("/images/loading.gif");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 40px;
      padding-right: 40px;
    }  
  }

  .email {
    float: left;
    width: 100%;

    @media screen and (min-width: 600px) {
      width: 60%;
    }
  }

  .error {
    box-sizing: border-box;
    display: none;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: red;
    margin-top: 2rem;

    &.show {
      display: inline-block;
    }
  }
}

span.explanation {
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 12px;
  opacity: 0.6;
  line-height: 18px;

  a {
    text-decoration: none;
    // color: #;
  }
}


@media (min-width: 600px) {
  .signup {
    text-align: left;

    p {
      font-size: 18px;
      font-weight: 300;
    }

    h1 {
      font-size: 2.5rem;
    }

    span.disclaimer a {
      font-size: 18px;
    }
  }

  .cryptotoday {
    margin-top: 0px;
  }

  span.explanation {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20vh;
    width: 65%;
  }

}

.mobile-only {
  @media screen and (max-width: 599px) {
    display: block;
  }
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: 599px) {
    display: none;
  }
  @media screen and (min-width: 600px) {
    display: block;
  }
}

#newprice  {
  display: inline-block;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;

  &.up::after {
    margin-left: 3px;
    content: "\2191";
  }

  &.down::after {
    content: "\2193";
    margin-left: 3px;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
}