@import "variables";
@import "support";
@import "components";

body {
  background-image: url("/images/bg_header.png"), linear-gradient(to top, #1C174A, #414186);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background: #62629A;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #62629A, #414186);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #62629A, #414186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 599px) {
  main {
    text-align: center;
  }

  .signup h1 {
    font-size: 2rem;
  }
}

main {
  // max-width: 1200px;
  // margin: 0 auto;
}

.valign {
  box-sizing: border-box;
  color: white;
  margin: 50vh auto 0;
  transform: translateY(-50%);
  -webkit-animation-duration: 3s;
}

.cryptotoday {
  text-align: center;

  img {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  p { 
    padding-bottom: 0; 
  }

  a {
    color: $white;
    text-decoration: none;
    &:hover .learnmore {
      color: $white;
    }
  }

  .learnmore {
    margin-top: -5px;
    color: #605A9D;
    display: block;
    transition: color ease-in 0.5s;
  }
}

.links {
    position: absolute;
    bottom: 20px;
    z-index: 10000;
    left: 0;
    right: 0;
    text-align: center;

    .backlink {
    margin-top: -5px;
    display: block;
    font-size: 12px;
    color: #6d6b8a;
    text-decoration: none;

      a {
      font-size: 12px;
      color: #6d6b8a;
      text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }

    .link_list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .link_item {
      display: inline-block;
      margin-right: 20px;

      a {
        font-size: 14px;
        color: #C2C2D0;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
}

header {
  height: 10vh;
  width: 100%;
  top: 0;
  position: absolute;
  
  .wrapper-large {
    padding-top: 0;
    padding-bottom: 0;
  }

  .inner-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a:link,
  a:visited {
    color: #3c3c3c;
    text-decoration: none;
    font-weight: 600;

    &:hover,
    &:focus {
      color: #777;
    }
  }

  // .logo {
  //   margin: 0 auto;
  //   -webkit-animation-duration: 3s;
  //   -webkit-animation-delay: 2s;
  //   -webkit-animation-iteration-count: infinite;

  //   &:hover a {
  //     display: none;
  //   }

  //   &:hover a::after {
  //     content: "Keeps Roger Ver at Bay";
  //   }

  //   h6 {
  //     padding: 0;
  //   }

  //   a {      
  //     // background-image: url("/images/logo.png");
  //     // text-indent: -9999em;
  //     color: $white;
  //     content: "A crypto a day";
  //     display: block;
  //     width: 185px;
  //     height: 45px;
  //     background-size: 185px 45px;
  //   }
  // }

  .logo {
     margin: 0 auto;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
  }
  
  a {
    text-decoration:none;
    color: $white;
    display: block;
  }

  .logo a h5.finish-sentence span{
    position: relative;
    content: 'A Crypto a day';
    color: $white;
    &:after {
      transition: content ease-in 2s;
    }
  }

  .logo:hover a h5.finish-sentence span{
    display: none;
  }

  .logo:hover a h5.finish-sentence:after{
    content: 'Keeps your portfolio in sway';
    color: $white;
  }
}

#signup {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
// -webkit-animation-iteration-count: infinite;
}

.signup {

  h1 {
    font-size: 2.5rem;
    line-height: 1.4;
    padding: 0;
    font-weight: 500;
  }

  form {
    padding: 1rem 0;
  }

  p {
    padding-bottom: 1rem;
  }

  span.disclaimer a {
    color: #605A9D;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    transition: color ease-in 0.5s;
    &:hover {
      color: $white;
    }
  }

  input:not([type='submit']),
  textarea {
    border: 1px solid #f0f0f0;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: block;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    font-size: 1.2rem;
  }

  input[type='submit'] {
    display: inline-block;
    // margin: 2rem auto 0;
    height: 3.3em;
    line-height: 3.3rem;
    font-size: 1.2rem;
    // margin: 0;
    margin-left: 10px;
    background-color: #7dc855;

    &.loading {
      background-image: url("/images/loading.gif");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 40px;
      padding-right: 40px;
    }
  }

  .email {
    float: left;
    width: 60%;
  }

  .error {
    box-sizing: border-box;
    display: none;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: red;
    margin-top: 2rem;

    &.show {
      display: inline-block;
    }
  }
}

@media (max-width: 599px) {
  .signup .box {
    margin-bottom: 4rem;
  }
}


#newprice  {
  display: inline-block;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;

  &.up::after {
    margin-left: 3px;
    content: "\2191";
  }

  &.down::after {
    content: "\2193";
    margin-left: 3px;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
}