<footer>
 <section class="links">
    <ul class="link_list">
      <!-- <li class="link_item"><a href="">built with &hearts; by cryptominded.com</a></li> -->
      <li class="link_item"><a href="">Advertise</a></li>
      <li class="link_item"><a href="https://community.cryptominded.com">Community</a></li>
      <li class="link_item"><a href="">Disclaimer</a></li>
    </ul>
    <span class="disclaimer"><a href="https://cryptominded.com?ref=acryptoaday">Built with &hearts; by cryptominded.com</a></span>
  </section>
</footer>