<footer>
 <section class="links">
    <ul class="link_list">
      <!-- <li class="link_item"><a href="">built with &hearts; by cryptominded.com</a></li> -->
      <li class="link_item"><a href="/advertise.html">Advertise</a></li>
      <li class="link_item"><a href="https://community.cryptominded.com">Community</a></li>
      <li class="link_item"><a href="/disclaimer.html">Disclaimer</a></li>
      <li class="link_item"><a href="http://cryptominded.muc3mconxtxewee6orxv.maxcdn-edge.com/example.html" target="_blank">Example</a></li>
    </ul>
    <span class="backlink"><a href="https://cryptominded.com?ref=acryptoaday">Built with &hearts; by cryptominded.com</a></span>
  </section>
</footer>