<footer>
  <div class="wrapper-large">

    <section class="about">
      <h5>About</h5>
      <p>Cryptominded is a curated directory of cryptocurrency &amp; blockchain related resources, services &amp; tools.</p>
      <a href="#">Feedback and suggestions &rarr;</a>
    </section>

    <nav>
      <h5>Navigation</h5>
      <ul>
        <li><a href="https://cryptominded.com/resources">Resources</a></li>
        <li><a href="https://cryptominded.com/guides/">Guides</a></li>
        <li><a href="https://cryptominded.com/coins/">Coin Wiki</a></li>
        <li><a href="https://cryptominded.com/where-to-buy-cryptocurrencies/">WhereToBuy</a></li>
        <li><a href="https://cryptominded.com/advertising/">Advertising</a></li>
    </nav>

    <nav>
      <h5>Follow</h5>
      <ul>
        <li><a href="https://www.twitter.com/cryptomindedcom">Twitter</a></li>
        <li><a href="https://www.facebook.com/cryptomindedcom/">Facebook</a></li>
        <li><a href="https://www.youtube.com/c/Cryptominded">Youtube</a></li>
        <li><a href="https://www.producthunt.com/posts/cryptominded-3">Product Hunt</a></li>      
    </nav>

  </div>
</footer>

<section class="imprint">
  <div class="wrapper-large">
    <small>&copy; Cryptominded 2018</small>
    <span>Disclaimer: some links may be affiliate links.&ensp;<a href="#">Learn why &rarr;</a></span>
  </div>
</section>
