<header class="top">
	<div class="wrapper-large">
		<div class="inner-header">
			<div class="logo animated infinite pulse">
				<a href="/">
					<h5 class="finish-sentence"><span class="">A crypto a day</span></h5>
				</a>
			</div>
		</div>
	</div>
</header>

<!-- <div class="item">
    <a href="">
         <p class="label success new-label"><span class="align">New</span></p>
    </a>
</div> -->