<header class="top">
	<div class="wrapper-large">
		<div class="inner-header">
			<div class="logo animated infinite pulse">
				<h6><a href="https://cryptominded.com">A crypto a day</a></h6>
			</div>
		</div>
	</div>
</header>