<header class="top">
	<div class="wrapper-large">
		<div class="inner-header">
			<div class="logo">
				<h6><a href="https://cryptominded.com">A crypto a day</a></h6>
			</div>
			<div class="back-website">
				<span><a href="#">By cryptominded.com</a></span>
			</div>
		</div>
	</div>
</header>