---
title: Advertise - A crypto a day - by Cryptominded.com
---

  <div class="wrapper-large grid valign animated fadeIn">

    <div class="signup_section">
      <div class="signup" style="text-align: center;">
        <span class="back"><a href="/">â† Go back</a></span>
        <h1>Advertise on our newsletter</h1>
        <p>If you're interested in advertising through a spot on our daily email, <br />then please reach out to <a href="mailto:dylan@cryptominded.com">dylan[@]cryptominded.com</a></p>
      </div>
    </div>

  </div>