---
title: Dislciamer - A crypto a day - by Cryptominded.com
---

  <div class="wrapper-large grid valign animated fadeIn">

    <div class="signup_section">
      <div class="signup" style="width: 70%; margin: 0 auto;">

        <span></span>
        <h1>Disclaimer</h1>
        <p>Hereby just a few small disclaimers to keep in mind:</p>
        <p><strong>1.</strong> Info displayed on Acryptoaday.com and through emails sent by acryptoaday.com <strong>should not be regarded as financial advice</strong> nor should the randomly picked cryptocurrency email you receive in your inbox be regarded as advice to invest in that particular cryptocurrency.</p>
        <p>2. Please consult your professional financial, investment, and tax advisers before making any investment in cryptocurrencies shown on this site or through our emails.</p>
        <p>3. We randomly pick cryptocurrencies on a weekly basis through a smart contract (more info). This means we do not control which cryptocurrencies are chosen. We research each token as selected by the smart contract, yes, even if it's not a good investment. Again, this is a tool to learn about new tokens you may now yet know.</p>
        <p>4. Please DYOR (Do your own research). Seriously.</p>
        <p></p>
        <p></p>
        <p>A crypto a day has been built by <a href="https://cryptominded.com" style="text-decoration: underline; color: #fff; opacity: 0.7;">Cryptominded OÜ.</a></p>
      </div>
    </div>

  </div>