---
title: A crypto a day - by Cryptominded.com
---

  <div class="wrapper-large grid valign animated fadeIn">

    <div class="signup_section">
      <div class="signup">
        <h1>Get an email about a new cryptocurrency every day</h1>
        <p>Get the facts, value, news, team &amp; price evolvements of a new cryptocurrency through a daily email.</p>
        <div class="email-octopus-form-wrapper">
          <!-- <p class="email-octopus-error-message"></p> -->
          <form method="post" action="https://emailoctopus.com/lists/2b3e91d2-0fd6-11e8-a98f-06b2d989fe84/members/external-add" class="email-octopus-form">
            <div class="email-octopus-form-row">
              <input type="email" name="emailAddress" class="email email-octopus-email-address" placeholder="satoshi@nakamoto.com">
            </div>
            <div class="email-octopus-form-row-hp" aria-hidden="true" style="display: none;">
              <input type="text" name="hp2b3e91d2-0fd6-11e8-a98f-06b2d989fe84" tabindex="-1" autocomplete="nope">
            </div>
            <div class="email-octopus-form-row-subscribe">
              <input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="http://dylans-mbp.home:4567/?signup=success">
              <button type="submit" class="submit">Subscribe</button>
            </div>
          </form>
        </div>
        <span class="disclaimer"><a href="/how-we-pick.html">FAQ: How we pick the daily cryptocurrency</a></span>
      </div>
    </div>

    <div class="cryptotoday_section">
      <div class="cryptotoday">
        <a href="https://cryptominded.com/coin/omisego">
          <div class="icon">
            <img src="https://cryptominded-muc3mconxtxewee6orxv.netdna-ssl.com/coin_icons/omisego.png">
            <p>OmiseGO - <span id="price">Loading Price...</span><br />
            <span class="learnmore">Learn more about OMG</span></p>
          </div>
        </a>
        <h3 class="fw-semibold">Crypto of the day</h3>
        <!-- <span class="disclaimer"><a href="#">(Randomly chosen every day)</a></span> -->
      </div>
    </div>

  </div>



  <!--         <form id="signup" class="animated pulse email-octopus-form" method="post" action="https://emailoctopus.com/lists/2b3e91d2-0fd6-11e8-a98f-06b2d989fe84/members/external-add">
          <input type="email" name="emailAddress" class="email" placeholder="satoshi@nakamoto.com" />
          <div class="email-octopus-form-row-hp" aria-hidden="true">
            <input type="text" name="hp2b3e91d2-0fd6-11e8-a98f-06b2d989fe84" tabindex="-1" autocomplete="nope">
          </div>
          <span class="error"></span>
          <input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="https://nervous-davinci-76647f.netlify.com/?signup=success">
          <input class="submit" type="submit" value="Subscribe" />
          <button type="submit">Subscribe</button>
        </form>   -->