---
title: A crypto a day - by Cryptominded.com
---

  <div class="wrapper-large grid valign animated fadeIn">

    <div class="signup_section">
      <div class="signup">
        <h1>Learn about a new cryptocurrency everyday</h1>
        <p>Get the facts, purpose, underlying value, related news, team and price evolvements of a new cryptocurrency through a daily email.</p>
        <div class="email-octopus-form-wrapper">
          <form method="post" action="https://emailoctopus.com/lists/2b3e91d2-0fd6-11e8-a98f-06b2d989fe84/members/external-add" id="form" class="email-octopus-form animated pulse">
            <div class="email-octopus-form-row">
              <input type="email" name="emailAddress" class="email email-octopus-email-address" placeholder="satoshi@nakamoto.com">
            </div>
            <div class="email-octopus-form-row-hp" aria-hidden="true" style="display: none;">
              <input type="text" name="hp2b3e91d2-0fd6-11e8-a98f-06b2d989fe84" tabindex="-1" autocomplete="nope">
            </div>
            <div class="email-octopus-form-row-subscribe">
              <input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="https://acryptoaday.com/?signup=success">
              <button type="submit" class="submit">Subscribe</button>
            </div>
          </form>
          <div id="signup_success" class="animated pulse" style="display: none; color: MediumSeaGreen;">
            <p>You've been successfully subscribed. Thank you!</p>
          </div>
        </div>
        <span class="disclaimer"><a href="/how-we-pick.html">FAQ: How we pick the daily cryptocurrency</a></span>
      </div>
     <!--  <div class="signup" style="display: none;">
        
      </div> -->
    </div>

    <div class="cryptotoday_section">
      <div class="cryptotoday">
        <h3 class="fw-semibold mobile-only">Crypto of the day</h3>
        <a href="https://cryptominded.com/coin/omisego">
          <div class="icon temp_icon">
            <img src="/images/temp_icon.png" width="125px">
            <p>First pick will happen on Friday 16 Feb <span id="price" style="display: none;">Loading Price...</span><br />
            <span class="learnmore" style="display: none;">Learn more about OMG</span></p>
          </div>
        </a>
        <h3 class="fw-semibold desktop-only">Crypto of the day</h3>
      </div>
    </div>

  </div>